<form method = "post" action = "/articles">
<label for="title">Title</label></br>
<input type = "text" name="title"></br>
<label for="content">Content</label></br>
<input type = "text" name = "content"></br>
<input type = "submit" id = "submit">
</form>