<form method = "post" action = "/articles/<%=@article.id %>">
<input id="hidden" type="hidden" name="_method" value="PATCH">
<label for="title">Title</label></br>
<input type = "text" name="title" value = <%= @article.title %>></br>
<label for="content">Content</label></br>
<input type = "text" name = "content" value = <%= @article.content %>></br>
<input type = "submit" id = "submit">
</form>